<!-- <mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Pick a Date"
         (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field> -->
<div><input type="date" [ngModel]="startDate | date:'yyyy-MM-dd'" (ngModelChange)="startDate = $event" (ngModelChange)="addEvent()"type="date" name="startDate"/></div>
<mat-tab-group>
    <mat-tab label="Attendance">
     
        <div class="container text-center">

          
         
          <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8" id="table">
           <script>window.alert(dataSource)</script> 
        
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- Id Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Entry ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="employee_id">
              <th mat-header-cell *matHeaderCellDef>Employee ID </th>
              <td mat-cell *matCellDef="let element"> {{element.employee_id}} </td>
            </ng-container>
        
           

            <ng-container matColumnDef="absence_date">
                <th mat-header-cell *matHeaderCellDef> Date</th>
                <td mat-cell *matCellDef="let element"> {{element.absence_date}} </td>
              </ng-container>

            
            <ng-container matColumnDef="hours_missed">
                <th mat-header-cell *matHeaderCellDef> Hours Missed </th>
                <td mat-cell *matCellDef="let element"> 
                  <a (click)="openDialog('Update', element,'Hours Missed')">{{element.hours_missed}} </a>
                </td>
              </ng-container>

              <ng-container matColumnDef="code_id">
                <th mat-header-cell *matHeaderCellDef> Attendance Code</th>
                <td mat-cell *matCellDef="let element" > 
                 <a (click)="openDialog('Update', element,'Absence Code')">{{element.code_id}} </a>
                </td>
              </ng-container>
        
            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element" class="action-link"> 
            
                <a (click)="openDialog('Delete',element,'test')">Delete</a>  
              </td>
            </ng-container>

           
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <button   (click)="openNewAttendance('Add')" type = "button"  id="add">Click Here to Add New Attendance</button>
          </div>
    </mat-tab>
    

</mat-tab-group>
