.mat-column-id, .mat-column-name, .mat-column-action {
    min-width: 12em;
}
  
.mat-cell {
    text-align: left;
    justify-content:left;
  }

.mat-table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
    overflow: hidden;
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }